<!doctype html>
<html lang="en" ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
	<title>{{title}} - App</title>
	{% else %}
	<title>Demo App</title>
	{% endif %}
    {% block head %}
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"> -->
    {% endblock %}
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ url_for('static', filename='angular.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.4.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='client.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ui-bootstrap-tpls-0.9.0.min.js') }}"></script>
	<script type="text/javascript" charset="utf-8">
    </script>
</head>
<body ng-controller="Ctrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Sensing via Web</a>
            </div>
            <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
            </div>
      </div>
    </nav>
    <div class="container">
	   {% block content %}{% endblock %}
    </div>
	</body>
</html>
